body {
    margin:0;
}
.header {
    box-sizing:border-box;
    width: 100%;
    position:sticky;
      top:0;
}
.first-header {
      background-color: #004785;
      color: white;
      padding: 10px;
      
}

.social a {
      padding: 5px;
}

.phone-number {
  font-size: 1.2rem;
}

.full-day {
      position: relative;
      bottom: 10px;
}

.second-header {
      box-sizing:1rem;
      background-color: white;
      font-size: 1.3rem;
}

.second-header a {
    text-decoration:none;
    color:#333;
}

.main-menue{
        background-color:#fff;
}

.main-image {
    vertical-align: middle;
    max-width: 480px;
}

.deposit-calculator input {
    background-color: 
}
